extends layout

block content
  .row
    each pet, index in pets
      .col-sm-4.justify-content-center
        .card
          if pet.avatarUrl
            img.card-img-top(src=pet.avatarUrl + '-standard.', alt='Pet image')
          else
            img.card-img-top(src=pet.picUrl, alt='Pet image')
          .card-body
            h4.card-title= pet.name
            small.text-muted= pet.species
            p.card-text= pet.description
            .text-right
                a.card-link(href=`/pets/${pet._id}`) View #{pet.name}
  
  nav(aria-label='Page Navigation').d-flex.justify-content-center
    ul.pagination
      //- Previous page btn
      if thisPage > 1
        li.page-item
          if query
            a.page-link(href=`?q=${query}&page=${parseInt(thisPage) - 1}`) Previous
          else
            a.page-link(href=`?page=${parseInt(thisPage) - 1}`) Previous
      
      //- List all pages
      - var i = 1;
      while i <= pageCount
        li.page-iten
          if query
            a.page-link(href=`?q=${query}&page=${i}`)= i++
          else
            a.page-link(href=`?page=${i}`)= i++
            
      //- Next page btn
      if thisPage < pageCount
        li.page-item
          if query
            a.page-link(href=`?q=${query}&page=${parseInt(thisPage) + 1}`) Next
          else
            a.page-link(href=`?page=${parseInt(thisPage) + 1}`) Next
